<mat-card>
	<mat-card-title>Different Trees in Austria</mat-card-title>
	<button mat-raised-button (click)='getTrees()'>Load</button>
	<mat-list *ngIf='trees'>
		<mat-list-item *ngFor='let tree of trees' (click)='onEdit(tree)'>

			<h2 matLine>{{ tree.name }}</h2>
			<p matLine>Age: {{ tree.age }}</p>
			<p matLine>Typ: {{ tree.typ }}</p>
			<p matLine>Height: {{ tree.height }}</p>
			<mat-divider></mat-divider>
		</mat-list-item>
	</mat-list>
</mat-card>

<!-- ToDo
	<mat-card>
		<p>dialog</p>
	</mat-card> -->